html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#app {
  height: 100%;
}

#login {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #000;
  color: #fff;
}
#login input {
  height: 40px;
  font-size: 40px;
  margin-top: 10px;
  background: #000;
  border: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  outline: none;
  text-align: center;
  padding: 15px;
}

.none {
  display: none !important;
}

.header {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #eae7e7;
}

.channel {
  padding: 10px;
}

.title {
  padding: 10px 0;
  font-weight: bold;
  font-size: 20px;
}

.room {
  margin: 15px;
  color: #00BCD4;
  cursor: pointer;
}

.left {
  float: left;
}

.right {
  float: right;
}

.chat-content {
  height: 100%;
  overflow: auto;
}

.bottom {
  height: 30px;
  position: fixed;
  bottom: 0;
  width: 100%
}

#text-input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  border: 0;
  border-top: 1px solid #eae7e7;
}

#goback {
  cursor: pointer;
}